# Python artifacts
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/


# Artifacts
artifacts/

# Environment
.env

# Build artifacts
dist/
build/
*.egg-info/

# uv.lock SHOULD be committed -- do not ignore it
